@using LoginMVCProject.Models;
@model List<LoginMVCProject.Models.Registration>;

@{
    ViewData["Title"] = "Login";
}
<h1>Dashbord</h1>
<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

   <form asp-action="Dashbord" method="get">

    <table>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>State</th>
            <th>City</th>
            <th>Mobile Number</th>
            <th>Email</th>
        </tr>
            @if (Model?.Count != 0)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                        @item.FirstName
                    </td>
                             <td>
                        @item.LastName
                            </td>
                                     <td>
                        @item.State
                            </td>
                    <td>
                        @item.City
                    </td>
                    <td>
                        @item.PhoneNumber
                    </td>
                    <td>
                        @item.Email
                    </td>
                    </tr>
                }
            }
    </table>
    </form>
</body>
</html>

